version: '2.1'
services:
  {{ redis_service_name }}:
    image: {{ redis_image }}
    container_name: {{ redis_container_name }}
    restart: always
    command: ["redis-server", "/config/redis.conf"]
    network_mode: host
    volumes:
      - /redis/config:/config
{% if redis_persistence_enabled %}
      - {{ redis_persistence_path }}:/data
{% endif %}
