version: '2.1'
services:
  {{ redis_service_name }}-exporter:
    image: {{ redis_exporter_image }}
    container_name: {{ redis_container_name }}-exporter
    restart: always
    environment:
      - REDIS_ADDR=localhost:{{ redis_port }}
      - REDIS_PASSWORD={{ redis_password }}
    network_mode: host
